.InputForm input[type=text] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.InputForm button[type=submit] {
    /* width: 60%; */
    padding: 12px 20px;
    margin: 8px 10px;
    box-sizing: border-box;
}